{% extends "base.html" %}

{% block contmain %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        
        <ul class="nav nav-list">
          {% for g in grupos %}
          <li class="nav-header">{{g.equipo.nombre}}</li> 

          
          {%if g.equipo.interesFinanciero%}
          <li ><a href="/financialview/?search={{g.equipo.nombre}}">Finanzas</a></li>
          {% endif %}

          {%if g.equipo.interesConocimiento%}
          <li ><a href="#">Conocimiento</a></li>
          {% endif %}

          {%if g.equipo.interesCultura%}
          <li ><a href="#">Cultura</a></li>
          {% endif %}

          {%if g.equipo.interesAlianza%}
          <li ><a href="#">Alianzas</a></li>
          {% endif %}

          {% endfor %}
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <div class="hero-unit">
        <h1>Bienvenido!</h1>
        <p>Este es el panel central de Dhene. Para iniciar, ve al panel de la izquierda y pulsa en algun interes del grupo al cual perteneces o selecciona Iniciar ahora y Dhene entrera al interes principal de tu grupo</p>
        <p><a href="/financialview/?search={{grupos.0.equipo.nombre}}" class="btn btn-primary btn-large">Iniciar ahora &raquo;</a></p>
      </div>
     
  
    </div><!--/span-->
  </div><!--/row-->
{% endblock %}