{% extends "base.html" %}

{% block contmain %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      
        
     
          {% for g in grupos %}
 
            <div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"> {{g.equipo.nombre}}</h3>
		  </div>
   <div class="panel-body">
          {%if g.equipo.interesFinanciero%}
          	<a href="/financialview/?search={{g.equipo.nombre}}">Finanzas</a>
          {% endif %}

          {%if g.equipo.interesConocimiento%}
         	<a href="#">Conocimiento</a>
          {% endif %}

          {%if g.equipo.interesCultura%}
       		 <a href="#">Cultura</a>
          {% endif %}

          {%if g.equipo.interesAlianza%}
     		<a href="#">Alianzas</a>
          {% endif %}
 		 </div>
 		 </div>
          {% endfor %}
    
       


    </div><!--/span-->
    <div class="col-md-9">
	      <div class="jumbotron">
	        <h1>Bienvenido!</h1>
	        <p>Este es el panel central de Dhene. Para iniciar, ve al panel de la izquierda y pulsa en algun interes del grupo al cual perteneces o selecciona Iniciar ahora y Dhene entrera al interes principal de tu grupo</p>
	        <p><a href="/financialview/?search={{grupos.0.equipo.nombre}}" class="btn btn-primary btn-large">Iniciar ahora &raquo;</a></p>
	      </div>
     
	 </div><!--/span-->
	 
	  </div><!--/row-->
 </div>
{% endblock %}