{% extends "base.html" %}

{% block customenu %}
   <form class="navbar-search pull-left">
    <input id='serchGroupField' type="text" class="search-query" data-provide="typeahead" placeholder="Ejemplo: Familia Perez">
     <button type="submit" class="btn">Buscar</button>
    </form>
    
{% endblock %}

{% block contmain %}
  <div id="contBodyHome" class="container">
 <table class="table table-condensed">
    	{% if teams %}
    		<tr><th><b>Nombre</b></th><th><b>Propietario</b></th><th><b>Accion</b></th></tr>
    		{% for t in teams%}
    		<tr><td>{{t.nombre}}</td><td>{{t.propietario}}</td><td><a href='#'>Solicitar alianza</a></td></tr>
    		{% endfor %}
    	{% else %}
    	<tr><td><b>Sin Resultados</b></td></tr>
    	{% endif%}
    
    </table>

  </div >
{% endblock %}
