{% extends "base.html" %}

{% block customenu %}
   <form class="navbar-search pull-left form-inline" action='/searchgroup/' style="margin-top: 10px;" >
   	 <div class="form-group">
	    <input id='serchGroupField' autocomplete="off" name="searchGroup" type="search" class="form-control" data-provide="typeahead" placeholder="Ejemplo: Familia Perez">
	      </div >
	     <button type="submit"  class="btn btn-default">Buscar</button>
	     
    </form>
    
{% endblock %}

{% block contmain %}
  <div id="contBodyHome" class="container">
 <table class="table table-condensed">
    	{% if teams %}
    		<tr><th><b>Nombre</b></th><th><b>Fundador</b></th><th><b>Accion</b></th></tr>
	    		{% for t in teams%}
	    		<tr><td>{{t.equipo.nombre}}</td><td>{{t.equipo.propietario}}</td>
	    		
	    		{% if t.estado == 'Aliado' %}
	    			<td><a href='#'>Ya eres aliado</a></td>
	    		
	    		{% elif t.estado == 'Pendiente' %}
	    			<td><a href='#'>Esperando una respuesta</a></td>
	    		{% else %}	
	    			<td><a href='/requestalliance/?requestGroup={{t.equipo.nombre}}&alliance={{t.id}}'>Solicitar alianza</a></td>
	    		{% endif %}
	    		
    		
    		</tr>
    	
    	
    		{% endfor %}
    	{% else %}
    	<tr><td></td></tr>
    	{% endif%}
    
    </table>
<div class="pager">
						{% if teams.has_previous %}
						<li>
							<a href="?page={{ teams.previous_page_number }}&searchGroup={{teamName}}">atras</a>
						</li>
						{% endif %}

						<span class="current"> Page {{ teams.number }} de {{ teams.paginator.num_pages }}. </span>

						{% if teams.has_next %}
						<li>
							<a href="?page={{ teams.next_page_number }}&searchGroup={{teamName}}">siguiente</a>
						</li>
						{% endif %}
					</div>
  </div >
{% endblock %}
