{% extends "base.html" %}

{% block customenu %}
   <form class="navbar-search pull-left" action='/searchgroup/'>
    <input id='serchGroupField' autocomplete="off" name="searchGroup" type="text" class="search-query" data-provide="typeahead" placeholder="Ejemplo: Familia Perez">
     <button type="submit" class="btn">Buscar</button>
    </form>
    
{% endblock %}

{% block contmain %}
  <div id="contBodyHome" class="container">
 <table class="table table-condensed">
    	{% if teams %}
    		<tr><th><b>Nombre</b></th><th><b>Fundador</b></th><th><b>Accion</b></th></tr>
	    		{% for t in teams%}
	    		<tr><td>{{t.equipo.nombre}}</td><td>{{t.equipo.propietario}}</td>
	    		
	    		{% if t.estado == 'Aliado' %}
	    			<td><a href='#'>Ya eres aliado</a></td>
	    		
	    		{% elif t.estado == 'Pendiente' %}
	    			<td><a href='#'>Esperando una respuesta</a></td>
	    		{% else %}	
	    			<td><a href='/requestalliance/?requestGroup={{t.equipo.nombre}}&alliance={{t.id}}'>Solicitar alianza</a></td>
	    		{% endif %}
	    		
    		
    		</tr>
    	
    	
    		{% endfor %}
    	{% else %}
    	<tr><td></td></tr>
    	{% endif%}
    
    </table>

  </div >
{% endblock %}
